{% extends 'include.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE</title>
</head>
<body>
    {%block content%}

   <form  method="POST" >
     {% csrf_token%}
     Title <input type="text" name="title"/>
     Year<input type="text" name="year"/>
     summery<input type="text" name="summery"/>
     <button type="submit">submit</button>

   </form>

{%endblock content%}
</body>
</html>